
:root{
    /* 재사용할 값을 변수에 지정한다 
        => 사용할때는 var()안에 변수명을 넣는다 */
    --header-height:60px;
    --main-color:#7e78ff;
}


body{
    padding-top:var(--header-height);
}


#header{
    display: flex;
    padding: 0 30px;
    /* align-items: center; */

    border-bottom: 1px solid #ddd;
    
    max-height: var(--header-height);
    overflow: hidden;
    transition: 0.4s;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
}



#logo{
    position: absolute;
    top:0;
    left: 30px;
    font-size: 1.8rem;
    line-height: 60px;
    color: var(--main-color);
}

#gnb{
    width: 100%;
}

#gnbList{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#gnbList > li > a{
    display: flex;
    width: 100px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

#gnbList > li:hover{
    background-color: #ddd;

}

#gnbList .depth02 li a{
    display: block;
    padding: 8px 10px;
}

#gnbList .depth02 li a:hover{
    background-color: #eee;
}
button{display: none;}



.imglist{
    padding:50px 0;
}
.imglist ul{
    display: flex;
    justify-content: center;
}


.imglist ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: pink;
    background: center/ 100% no-repeat;
color:var(--main-color);
    

    /*redius 모서리를 둥그게 원으로 만들기 너비와 높이가 같을때 50%를 지정하면 정원이 만들어짐*/
    border-radius: 50%;
    transition: background-size 0.25s;
    
}

.imglist ul li a:hover{
    background-size: 110%;
    color: red;
    font-weight: 700;
}


.imglist ul li:nth-child(1) a {
    background-image: url("../images/원영1.jpg");

}

.imglist ul li:nth-child(2) a {
    background-image: url("../images/원영2.jpg");
}


.imglist ul li:nth-child(3) a{
    background-image: url("../images/원영3.jpg");
}

.imglist ul li:nth-child(4) a{
    background-image: url("../images/원영6.jpg");
}

.imglist ul li:nth-child(5) a{
    background-image: url("../images/원영5.jpg");
}



.imglist ul li + li{

   margin-left: 20px;
}

@media screen and (min-width:961px) {
    #header{
        max-height: 50px;
        transition: 0s;
    }
}





@media screen and (min-width:640PX) {
    #header:hover{
        max-height: 400px;
    }
    
}

@media screen and (max-width: 640px){
   #header{
    justify-content: center;
   }
    #gnb{width: auto;}

    #gnbList{
        display: block;
    }
    #gnbList .depth02{
        display: none;
    }
    button{
        display: inline;
    }
    
}

@media screen and (max-width: 960px) {
    #header{
        max-height: 50px;
    }
    
    #logo{
        font-size: 1.5rem;
        line-height: 50px;

    }

    #gnbList li{
        font-size: 0.8rem;
    }
    #gnbList > li > a{
    
    height: 50px;

}
.imglist ul{
    flex-direction: column;
    align-items: center;
}

.imglist ul li + li {
    margin-top: 10px;
    margin-left: 0;
}
}




